.post-block {
    border: solid 1px black;
    padding: 20px;
    margin-bottom: 20px;
}

body{
    padding: 5px;
}

h1{
    text-align: center;
}

form {
    margin: 10px;
}

.comment-block {
    margin: 20px 20px 20px 40px;
    padding: 5px;
}

.author {
    color: #414b50;
    font-weight: 700;
}

.date {
    margin-left: 10px;
    color: #868686;
}

.content {
    margin: 5px;
}

.post-title {
    color: #414b50;
    font-weight: 900;
}