<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block stylesheets %}
{% endblock %}
{% block content %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>