{% extends "base.html" %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/post/css/post-style.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/post/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <h4>Add comments</h4>
    <ul>
        <ul class="comments" data-prototype="{{ form_widget(form.comments.vars.prototype)|e('html_attr') }}">
        </ul>
    </ul>
    {{ form_end(form) }}

    <h1>Posts list</h1>
    {% for post in posts %}
        <div class="post-block">
            <span class="post-title">{{ post.title }} </span><span
                    class="date"> {{ post.createdAt |date("H:i:s Y-m-d") }}</span>
            <div class="content">{{ post.content }}</div>

            <h4>Comments:</h4>
            {% for comment in post.comments %}
                <div class="comment-block">
                    <span class="author"> {{ comment.author }}</span>
                    <span class="date">{{ comment.createdAt |date("H:i:s Y-m-d") }}</span>
                    <br>
                    <div class="content">{{ comment.content }}</div>

                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('/bundles/post/js/form_comments.js') }}"></script>
{% endblock %}